@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');
body{
  font-family: 'Orbitron', sans-serif !important;
}

.bg-custom{
  background: linear-gradient(-45deg, #282C34, #34486f, #4d3555, #24443c);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  color: white;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.custom-metamask-btn{
  width: 300px;
  height: 50px;
  display: flex ;
  justify-content: space-evenly;
  align-items: center;
  background-color: #282C34 !important;
  outline: none !important;
  border:  none !important;
  cursor: pointer;
  transition: box-shadow 200ms ease-in-out;
}

.custom-metamask-btn label{
 
  cursor: pointer;
 margin-left: 1rem;
}

.custom-metamask-btn:focus  {
  outline: none !important;
  box-shadow: none !important;

}

.custom-metamask-btn:active{
  background-color: #1f2228 !important;
}

